/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin: 0;
    min-height: 1vh;
}

/*ここからheaderです*/
header {
    background-color: #3ecdc6;
    height: 60px;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0px;
}

.header-logo {
    float: left;
    padding-left: 20px;
    font-size: 22px;
    line-height: 64px;
}


.header-logo a{
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.header-menus {
    float: right;
    padding-right: 20px;
    list-style-type: none;
}

.header-menus li {
    float: left;
    line-height: 64px;
    font-size: 13px;
    color: white;
    padding-left: 15px;
}

.header-menus a {
    float: left;
    font-size: 13px;
    color: white;
    text-decoration: none;
}

/*ここから真ん中です*/
.container {
    clear: both;
    background-color: white;
    max-width: 600px;
    margin: 60px auto;

}

/*ここからfooterです*/
.footer-logo {
    background-color: #3ecdc6;
    height: 60px;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.footer-logo li {
    list-style-type: none;
    text-align: center;
    color: white;
}

